.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-transform: uppercase;
    background-color: green;
    color: white;
    user-select: none;
}
