.base {
    width: 200px;
    height: 50px;
    color: white;
    text-transform: uppercase;
}

.good {
    background-color: green;
}

.bad {
    background-color: red;
}

.pending {
    background-color: yellow;
}
